# Virtual environment
venv/
env/

artifacts/*.csv

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# CatBoost logs
catboost_info/

# Build artifacts
build/
*.egg-info/

# Raw/processed data (tracked by DVC instead)
data/raw/*.csv
data/processed/*.csv

# Executable files
*.exe

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log